scripts/logic-apps/HiveTelemetryIngest.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "dataverseUrl": { "type": "String", "defaultValue": "https://orgc5731d44.crm.dynamics.com" },
      "clientId": { "type": "String" },
      "clientSecret": { "type": "SecureString" },
      "tenantId": { "type": "String" }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST",
          "schema": {
            "type": "object",
            "properties": {
              "Weight": { "type": "number" },
              "InternalTemp": { "type": "number" },
              "BatteryVoltage": { "type": "number" },
              "HiveHum": { "type": "number" },
              "LegTemp": { "type": "number" },
              "HiveId": { "type": "string" },
              "DeviceMAC": { "type": "string" },
              "DeviceName": { "type": "string" }
            }
          }
        }
      }
    },
    "actions": {
      "Lookup_Device_By_MAC": {
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "@{parameters('dataverseUrl')}/api/data/v9.2/gr_devices?$filter=gr_macaddress eq '@{triggerBody()?['DeviceMAC']}'&$select=gr_assignedhive&$top=1",
          "headers": { "Accept": "application/json", "OData-MaxVersion": "4.0", "OData-Version": "4.0" },
          "authentication": { "type": "ActiveDirectoryOAuth", "tenant": "@parameters('tenantId')", "audience": "@parameters('dataverseUrl')", "clientId": "@parameters('clientId')", "secret": "@parameters('clientSecret')" }
        },
        "runAfter": {}
      },
      "Resolve_HiveId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{
            "name": "resolvedHiveId",
            "type": "string",
            "value": "@{if(and(greater(length(body('Lookup_Device_By_MAC')?['value']), 0), not(empty(first(body('Lookup_Device_By_MAC')?['value'])?['gr_assignedhive']))), first(body('Lookup_Device_By_MAC')?['value'])?['gr_assignedhive'], triggerBody()?['HiveId'])}"
          }]
        },
        "runAfter": { "Lookup_Device_By_MAC": ["Succeeded", "Failed"] }
      },
      "Create_Reading": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{parameters('dataverseUrl')}/api/data/v9.2/gr_hivereadings",
          "headers": { "Content-Type": "application/json", "OData-MaxVersion": "4.0", "OData-Version": "4.0", "Accept": "application/json" },
          "body": {
            "gr_name": "Reading @{utcNow('yyyy-MM-ddTHH:mm:ss')}",
            "gr_weight": "@triggerBody()?['Weight']",
            "gr_internaltemp": "@triggerBody()?['InternalTemp']",
            "gr_batteryvoltage": "@triggerBody()?['BatteryVoltage']",
            "gr_hivehum": "@triggerBody()?['HiveHum']",
            "gr_legtemp": "@triggerBody()?['LegTemp']",
            "gr_hiveid": "@variables('resolvedHiveId')",
            "gr_devicemac": "@triggerBody()?['DeviceMAC']",
            "gr_devicename": "@triggerBody()?['DeviceName']",
            "gr_readingtimestamp": "@utcNow()"
          },
          "authentication": { "type": "ActiveDirectoryOAuth", "tenant": "@parameters('tenantId')", "audience": "@parameters('dataverseUrl')", "clientId": "@parameters('clientId')", "secret": "@parameters('clientSecret')" }
        },
        "runAfter": { "Resolve_HiveId": ["Succeeded"] }
      },
      "Response": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" },
          "body": { "status": "ok", "timestamp": "@utcNow()" }
        },
        "runAfter": { "Create_Reading": ["Succeeded"] }
      }
    },
    "outputs": {}
  }
}
